<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>
<div class="container">
    <div class="row">
        
        <span class="border border-info-subtle">
      <div class="col-sm">
        <h2>Our Group Members Are: </h2>
        <h3>Dabria, Michelle, Ai Nghi</h3>
        <pre>
            ________ __________         _________   ____     _____  ________   
            \______ \\______   \       /     \   \ /   /    /  _  \ \______ \  
             |    |  \|       _/      /  \ /  \   Y   /    /  /_\  \ |    |  \ 
             |    `   \    |   \     /    Y    \     /    /    |    \|    `   \
            /_______  /____|_  / /\  \____|__  /\___/ /\  \____|__  /_______  /
                    \/       \/  )/          \/       )/          \/        \/ 
            </pre>
      </div>
    </span>

    <span class="border border-info-subtle">
      <div class="col-sm">
        <h2>Oakland Tech</h2>
        <h3>This is out capstone project. We are seniors at Oakland Tech Highschool. We are in the Computer Science Academy</h3>
      <img src="/static/Oakland_Technical_High.jpg" alt="" width="250">
    </div>
    </span>

    <span class="border border-info-subtle">
      <div class="col-sm">
        <h2>age:</h2>
        <h3>we are 17 years old</h3>
        <img src="/static/17.jpg" alt="" width="250">
      </div>
    </span>
    
    </div>
  </div>



{% endblock %}