<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<body style="background-color: #696e8e;">
  

  <h1 class="display-4 text-center" style="color:#9a8c98 ; font-family: Tangerine; font-size: 110px;">About Us</h1>
        
  <div class="row" style="color:#9a8c98 ; font-family: Playfair Display SC ; font-size: 20px;">
    
    <div class="col-3 mx-4 my-4 border border-5" style="background-color: white;">
      <p></p>
    <h1 class="display-6 text-center" style="color:#9a8c98;">Ai Nghi</h1>
    <ul>
     <li>School: Yale (Cognitive Science Major) </li>
     <li>Current Fav Film: Mai</li>
     <li>Fun Facts:
      <ul>
        <li>I am terrified of animals</li>
        <li>I broke my right arm once</li>
        <li>I am the middle child</li>
      </ul>
     </li>
    </ul>
  </div>


    <div class="col-3 mx-4 my-4 border border-5" style="background-color: white;">
        <p></p>
        <h1 class="display-6 text-center" style="color:#9a8c98;">Dabria Reed</h1>
        <ul>
          <img img class="img-thumbnail img-fluid" src="static/Dabria Photo.jpg">
          <li>School:CSU Long Beach (Psychology Major)</li>
          <li>Current Fav Film: Bones and All</li>
          <li> Fun Facts:
            <ul>
              <li>I am the youngest child</li>
              <li>I love Marvel films</li>
              <li>One of my favorite pieces of music ever is a mixtape of unreleased Frank Ocean songs titled "undocumented, RARE"</li>
            </ul>
          </li>
        </ul>
    </div>

    <div class="col-3 mx-4 my-4 border border-5" style="background-color: white;">
       <p></p>
       <h1 class="display-6 text-center" style="color:#9a8c98;">Michelle</h1>
       <ul>
        <img img class="img-thumbnail img-fluid" src="static/michelle.jpg">
        <li>School: Yale (Ethics, Politics, and Economics Major)</li>
        <li>Current Fav Film: Everything Everywhere All at Once</li>
        <li>Fun Facts:
          <ul>
            <li>I am the eldest of 4</li>
            <li>I met Jessica Chastain</li>
            <li>I am a big musical nerd so I've been listening to a lot of "Chicago" and "Mamma Mia" recently</li>
          </ul>
        </li>
       </ul>
      
    </div>

    

</body>


{% endblock %}