<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<body style="background-color: #696e8e;">
  

<h1>About Us</h1>
<div class="container">
    <div class="row">
        
        <span class="border border-info-subtle">
      <div class="col-sm">
        <h2>Ai Nghi Diep </h2>
        <h3></h3>
    
      </div>
    </span>

    <span class="border border-info-subtle">
      <div class="col-sm">
        <h2>Dabria Reed</h2>
        <h3></h3>
    </div>
    </span>

    <span class="border border-info-subtle">
      <div class="col-sm">
        <h2>Michelle Vong</h2>
        <h3></h3>
        
      </div>
    </span>
    
    </div>
  </div>


</body>
{% endblock %}