{% extends "base.html" %}


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="filmform.css">
    <title>Star rating using pure CSS</title>
  </head>
 
  
{% block body %}
<body style="background-color: #696e8e;">

    
<center>
        <h1>Add a New Film</h1>


        <form method=post enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.poster.label }}<br>
                <img class="img-thumbnail" width = "250" src="/static/la la land.jpg"> <br>
                {{ form.poster() }}<br>
                {% for error in form.poster.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.filmname.label }}: <br>
                {{ form.filmname(size=64) }}<br>
                  <!--List the errors for this field-->
            {% for error in form.filmname.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
            </p>
            <p>
                Director: {{ form.director(size=64) }}
                 <!--List the errors for this field-->
            {% for error in form.director.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
             </p> 

            <p>
                Genre: {{form.genre}}
                 <!--List the errors for this field-->
            {% for error in form.genre.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
            </p>
            <p>
                Release Date (Year): {{form.release}}
                 <!--List the errors for this field-->
            {% for error in form.release.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
            </p>
            <p>
                Review: {{form.review}}
                 <!--List the errors for this field-->
            {% for error in form.review.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
            </p>
               <p>

                Rating: {{form.rating}}
                <div class="rating-wrapper">
                    <img id="1" src="/static/starrating.png" width="50">
                    <img id="2" src="/static/starrating.png" width="50">
                        <img id="3" src="/static/starrating.png" width="50">
                        <img id="4" src="/static/starrating.png" width="50">
                        <img id="5" src="/static/starrating.png" width="50">
                   </div>
                   {{form.rating}}
                <!--List the errors for this field-->
           {% for error in form.rating.errors %}
           <span style="color: red;">[{{ error }}]</span>
       {% endfor %}
           </p>
               </p>  
           {{form.submit()}}
        </form>

         <script>
            document.querySelector('.rating-wrapper').addEventListener('click', updateStarRating, false);
            function updateStarRating(evt){
                for(i=0; i < parseInt(evt.target.id); i++){
                    const stars = document.querySelectorAll('.rating-wrapper img');
                    for(s=0; s < 5; s++){
                        stars[s].classList.remove('rating-checked');
                    }
                    for(j=0; j < parseInt(evt.target.id); j++){
                        stars[j].classList.add('rating-checked');
                    }
                }
                document.querySelector('#rating').value = evt.target.id;
            }

         </script>
    </center>
    </body>
{% endblock %}