{% extends "base.html" %}

{% block body %}
<body style="background-color: #696e8e;">
    
<center>
        <h1>Add a New Film</h1>


        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.poster.label }}<br>
                {% if current_user.poster %}
                    <img class="img-thumbnail" width="100" src="data:image;base64,{{base64encode(current_user.image.read())}}"> <br>
                {% else %}
                    <img class="img-thumbnail" width = "100" src="/static/bdog.png">
                {% endif %} <br>
                {{ form.poster() }}<br>
                {% for error in form.poster.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.filmname.label }}<br>
                {{ form.filmname(size=64) }}<br>
                  <!--List the errors for this field-->
            {% for error in form.filmname.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
            </p>
            <p>
                Director: {{ form.director(size=64) }}
                 <!--List the errors for this field-->
            {% for error in form.director.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
             </p> 

            <p>
                Genre: {{form.genre}}
                 <!--List the errors for this field-->
            {% for error in form.genre.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
            </p>
            <p>
                Release Date: {{form.release}}
                 <!--List the errors for this field-->
            {% for error in form.release.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
            </p>
                 

            {{form.submit()}}
        </form>
    </center>
    </body>
{% endblock %}