{% extends 'base.html' %}

{% block body %}
<div class="container m-5">

{% if film %}
    {{moment(film.create_date).calendar()}} by {{film.author.fname}} {{film.author.lname}} 
    {% if film.modifydate %}
        modified {{moment(film.modifydate).calendar()}}
    {% endif %}
    <br>

  
    
    
    {% if film.poster %}
        <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(film.poster.read())}}">
    {% endif %}
    <br>
    <h1 class="display-1">{{film.filmname}}  </h1> 
    <h3 class = "display-4" style="font-size: x-large;"> {{film.release}}</h3>
    <br>
    <h2 class = "display-4" style="font-size: 40px;">{{film.director}} </h2>
    <h2 class = "display-4" style="font-size: 40px;"> {{film.genre}}</h2>
    <h2> {{film.rating}} </h2>
    <blockquote class="display-4"> {{film.review}} </blockquote>
    
   
    {% if film.author == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete Film" href="/film/delete/{{film.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Edit Film" href="/film/edit/{{film.id}}">
            <img width="40" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}


</div>

    <a href="/reply/new/{{film.id}}" class="btn btn-primary btn-sm" ></style><img width="30" src="/static/reply icon.png"></a>

    {% if replies %}
    <h1 class="display-5">Replies</h1>
    {% for reply in replies %}
        {% if current_user == reply.author %}
            <a href="/reply/delete/{{reply.id}}"><img width="20" src="/static/delete.png"></a> 
            <a href="/reply/edit/{{reply.id}}"><img width="20" src="/static/edit.png"></a>
        {% endif %}
        {{moment(reply.create_date).calendar()}} by {{reply.author.fname}} {{reply.author.lname}} 

        {% if reply.modifydate %}
            modified {{moment(reply.modifydate).calendar()}}
        {% endif %}
        <br>
        <p class="fs-3">
            {{reply.content}}
        </p>
    {% endfor %}
    {% else %}
        <h1 class="display-5">No Replies</h1>
    {% endif %}
    
{% else %}

{% endif %}

{% endblock %}