{% extends 'base.html' %}

{% block body %}
<body style="background-color: #696e8e;">
    



{% if films %}
    {% for film in films %}
        <div class="row border-bottom">
            <div clas="col">
                <a data-toggle="tooltip" data-placement="top" title="Delete Film" href="/film/delete/{{film.id}}">
                    <img width="20" class="bottom-image" src="/static/delete.png">
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Edit Film" href="/film/edit/{{film.id}}">
                    <img width="20" class="bottom-image" src="/static/edit.png">
                </a>
        </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Date</h3>
                {% endif %}
                    {{moment(film.create_date).calendar()}}
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">User</h3>
                {% endif %}
                {{film.author.fname}} {{film.author.lname}}
                <!-- image -->
                {% if current_user.image %}
                <img class="img-thumbnail img-fluid" src="data:image;base64,{{base64encode(current_user.image.read())}}"> <br>
            {% else %}
                <img class="img-thumbnail" height = "50px" src="/static/plain_user.png">
            {% endif %} 
            </div>
            <div class="col">
                {% if film.poster %}
                <a href="/film/{{film.id}}">
                <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(film.poster.read())}}">
                </a>
                {% endif %}
                  
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Film Name</h3>
                {% endif %}
                {{film.filmname}} released: {{film.release}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Director</h3>
                {% endif %}
                {{film.director}} 
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Genre</h3>
                {% endif %}
                {{film.genre}}
            </div>
          
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Review</h3>
                {% endif %}
                {{film.review}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Rating</h3>
                {% endif %}
                {{film.rating}}
            </div>
        </div>
    </body>
    {% endfor %}
{% else %}

{% endif %}

{% endblock %}