<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}


<h1 class="display-4 text-center" style="color:#9a8c98 ; font-family: Tangerine; font-size: 110px;">Overview</h1>
<p></p>
<img width="500" class="center-image" src="https://i.pinimg.com/originals/22/c4/ca/22c4ca460bc34b8aa047c505994473b0.gif" style="display: block; margin: auto;">
<div class="row" style="color:#9a8c98 ; font-family: Playfair Display SC; font-size: 20px;">
    <div class="col-5 mx-5 my-5 border border-5" style="background-color: white;">
        <h1 class="display-6 text-center" style="color:#9a8c98;">Background</h1>
        <p> Our initial research topic was about the lack of black and queer representation in media. This leads me to discover that due to 
            seeing less diversity, people are more likely to perpetuated set stereotypical ideas of how they believe
            black and queer people act. This led us to the idea of creating an app that allows people to access movies that have already 
            been reviewed on how diverse they are or not and rate it on a scale of 1-5.
        </p>
         </div>


    <div class="col-5 mx-5 my-5 border border-5" style="background-color: white;">
        <p></p>
        <h1 class="display-6 text-center" style="color:#9a8c98;">Danger of No Media Representations</h1>
        <p>The dangers of no media representation are significant. It can lead to marginalized communities feeling
            ignored, misunderstood, or misrepresented which perpetuates stereotypes and biases. Lack of representation
             can also limit diverse persepectives and contribute to a narrow worldview. Aditionally, it can affect social progress
             by silencing voices and preventing important issues from being adressed.
        </p>
       </div>


            <div class="container text-center border border-5 " style="background-color: white;">
                <h1 class="display-4 container text-center" style="color:#9a8c98;">Blurb About Us</h1>
        <p>Our names are Dabria Reed, Ai Nghi Diep and Michelle Vong. 
            We are all seniors in the Computer Science Academy at Oakland Tech. 
            We choose to make this website because
              as minorities and teenagers, we know the effects of seing very little no people
              who have similiar attributes to us. We all were also able to compare what it was like to 
              to watch a film with accurate representation rather than an all white, straight cast. </p>
  </div>

        
</div>

                


 



{% endblock %}