{% extends 'base.html' %}

{% block body %}

<body style="background-color: #696e8e;">
<h1 class="display-1">
    My Profile
    <a href="/myprofile/edit">
        <img width="40" src="/static/edit.png">
    </a>
</h1>
<div class="row">
    <div class="col-2">
        {% if current_user.image %}
            <img class="img-thumbnail img-fluid" src="data:image;base64,{{base64encode(current_user.image.read())}}"> <br>
        {% else %}
            <img class="img-thumbnail" height = "100" src="/static/plain_user.png">
        {% endif %} 
    </div>
    <div class="col display-5">
        {% if current_user.fname and current_user.lname %}
            Name: {{current_user.fname}}  {{current_user.lname}} <br>
        {% else %}
            Google User Name: {{current_user.gname}} <br>
        {% endif %}
        Pronouns: {{current_user.pronouns}}<br>
        {{current_user.moviesWatched}} films <br>
        {{current_user.watchlist}} films to watch <br>
 

        <br>
        {{current_user.moviesLogged}} Movies Logged<br>
        <div class="container text-center">
            <div class="row">
              <div class="col">
                <div class="d-inline p-2 bg-dark text-white">image goes here</div>
              </div>
              <div class="col">
                <div class="d-inline p-2 bg-dark text-white">image goes here</div>
              </div>
              <div class="col">
                <div class="d-inline p-2 bg-dark text-white">image goes here</div>
              </div>
              <div class="col">
                <div class="d-inline p-2 bg-dark text-white">image goes here</div>
              </div>
            </div>
          </div>

        <hr>
       
    </div>
</div>
<br>

</body>

{% endblock %}