{% extends 'base.html' %}

{% block body %}

<body style="background-color: #696e8e;">
<h1 class="display-1"  style="color:#9a8c98 ; font-family: Tangerine; font-size: 110px;">
    My Profile
    <a href="/myprofile/edit">
        <img width="40" src="/static/edit.png">
    </a>
</h1>
<div class="row" style="color:#9a8c98; font-family: Playfair Display SC;">
    <div class="col-2">
        {% if current_user.image %}
            <img class="img-thumbnail img-fluid" src="data:image;base64,{{base64encode(current_user.image.read())}}"> <br>
        {% else %}
            <img class="img-thumbnail" height = "100" src="/static/plain_user.png">
        {% endif %} 
    </div>
    <div class="col display-5">
        {% if current_user.fname and current_user.lname %}
            Name: {{current_user.fname}}  {{current_user.lname}} <br>
        {% else %}
            Google User Name: {{current_user.gname}} <br>
        {% endif %}
        Pronouns: {{current_user.pronouns}}<br>
        {{current_user.bio}} <br>
        <form action="/watchlist" method="get">
            <button type="submit" class="btn btn-purple" style="background-color: purple;">View Watchlist</button> <!-- Button added here -->
        </form>        
        <br>

        <br>

        
        {{filmCount}} films logged

        {% if films %}
        <div class="container text-center">    
          <div class="row">
          {% for film in films %}
            <div class="col">
                {% if film.poster %}
                <a href="/film/{{film.id}}">
                <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(film.poster.read())}}">
                </a>
                {% endif %}
            </div>
          {% endfor %}
          </div>
        </div>
        {% else %}

        {% endif %}

        <hr>
       
    </div>
</div>
<br>

</body>

{% endblock %}